<hgroup>
  <!-- Nombre -->
  <h1>Helmut Cárdenas Pérez</h1>
  <!-- Cargo -->
  <h2><strong> Desarrollador, diseñador, proyecto de programador. Html, Css, JS, PostgreSQL, Ruby on Rails, UX/UI</strong></h2>
</hgroup>

<div class="grid">
  <div>
    <!-- Email -->
    <a href="cardenas.hcconstrucciones@gmail.com">cardenas.hcconstrucciones@gmail.com</a>
    <!-- Descripción de tu perfil, hobbies y pasiones -->
    <p>Hola! Soy <strong>Helmut Cárdenas Pérez</strong>, de formacion soy arquitecto desde el año 2010, he desarrollado proyectos de retail, educacionales, habitacionales. Ademas he desarrolado proyectos de diseño gráfico y diseño industrial lo cual me ha apasionado mucho hasta el punto de desarrollar mi propia linea de mobiliario, tanto para proyectos de oficinas, habitacionales, educacionales.</p>
    <p>Disfruto mucho del futbol, lo jugue durante toda mi infancia y adolescencia, llegué a ser seleccionado de mi colegio, "el patrocinio de san Jose". Luego de adulto solo jugue con amigos y comence a ir al estadio a partidos de Colo-Colo y la Seleccion Chilena. Además del futbol comence a jugar Golf, llegando a tener handicap 7.</p>
    <h3><strong></strong>Ultimos 2 Empleos</strong></h3>
    <ul>
      <li>Gerente General HC Construcciones SpA</li>
      <li>Diseñador, supervisor de ejeucion y control de obras UNAB</li>
      <hr>
    </ul>
  </div>
  <div>
    <%= image_tag("imagen.jpg", alt: "Imagen", class: "img-responsive") %>
  </div>
</div>
